# ignore all files with no extension (unix binaries)
*
!/**/
!*.*
!AppRun

*.dSYM
*.so
*.dylib
*.dll
bin/
scratch/
tools/build_helpers
tools/build_helpers.exe
logs/
*.exe
*.out


app/.import
.DS_Store
app/_dlls/enu.exp
app/_dlls/enu.lib

generated/
app/export_presets.cfg
dist/
vmlib/stdlib
dist_config.json

/.last_test
nimble.develop
nimble.paths
/t.nim
fonts/
nimbledeps/
.submodules.tmp

*.previous
