[submodule "vendor/godot_voxel"]
	path = vendor/modules/voxel
	url = https://github.com/dsrw/godot_voxel.git
	branch = master
[submodule "vendor/godot"]
	path = vendor/godot
	url = https://github.com/dsrw/godot.git
	branch = enu
	ignore = untracked
