# ignore all files with no extension (unix binaries)
*
!/**/
!*.*

*.dSYM
*.so
*.dylib
*.dll
bin/
tools/build_helpers
tools/build_helpers.exe
logs/
*.exe


app/.import
.DS_Store
app/_dlls/enu.exp
app/_dlls/enu.lib

generated/
app/export_presets.cfg
dist/
vmlib/stdlib
dist_config.json
.vscode
/.last_test
nimble.develop
nimble.paths
